#lifeline {
     width: 100%;
     display: block;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#lifelineTable {
     width: 100%;
	display: block;
     border: 1px solid gray;
     border-radius: 3px;	
}

.lifelineTableHeader {	
     text-align: right;
	margin-right: 1em;
	font-weight: 500;
}

.lifeTableRow {
	display: grid;
	grid-template-columns: 150px auto;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-right: 5px;
     padding-left: 5px;
     border-bottom: 1px solid gray;
}

.lifeTableRow:nth-child(even) {
     background-color: #eee;
}

/*
.lifeTableRow:last-child {
     background-color: transparent;
     border-bottom: none;
}
*/

.lifeTableRow.axisRow {
	background-color: #456;
	color: white;
	border-bottom: 1px solid #456;
}

/* .axisCell, #ruler {
     font-size: 0.8em;
} */

/*
.lifeTableRow {
     display: grid;
     grid-template-columns: 5em auto
}
*/
.ganttCell {
     display: grid;
     /* border-bottom: 1px solid gray; */
     /* grid-template-columns: repeat(3, 20%); */
     /* grid-gap: 5px; */
}

.visibleTime {
     background-color: transparent;
     border-radius: 3px;
	position: relative;
}

.axisItem, #ruler {
	margin-right: 10px;
	font-size: 0.9em;
}

placeholderTime {
     background-color: white;
}

#lifelineOptions {
	margin-bottom: 10px;
	/* display: grid;
	grid-template-columns: 1fr 1fr; */
	display: inline-block;
}

/* So that if there is a reflow, the entire span will stil be together */
.lifelineOption {
	display: inline-block;
}

/* 
@media (min-width: 576px) {
	#lifelineOptions {
		grid-template-columns: 1fr 1fr 1fr 5fr;
	}	
} */


#ruler {
	display: inline;
	border: 1px solid red;
	padding-right: 10px;
	visibility: hidden;
}

/* For the tooltip */
/* https://leaverou.github.io/bubbly/ */
.speech-bubble {
	position: absolute;
	background: #00aabb;
     border-radius: .4em;
     text-align: left;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	padding-right: 10px;
     width: 150px;
     font-size: 0.85em;
	color: white;
	z-index: 10;
}

/* Prevent hover for the bubbles */
.visibleTime * {
     pointer-events: none;
}

.speech-bubble-right {
     top: -30%;
     left: calc(100% + 5px); 
}

.speech-bubble-left {
     top: -30%;
     right: calc(100% + 5px);
}

.speech-bubble-top {
     left: 0%;
     top: calc(-100% - 15px);
} 

.speech-bubble-bottom-left {
     left: 0%;
     top: calc(100% + 5px);
}

.speech-bubble-bottom-right {
     right: 0%;
     top: calc(100% + 5px);
}

/* For the tooltip's trianglular pointer */

.speech-bubble-left:after {
	content: '';
	position: absolute;
	right: 0;
	top: 20px;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-left-color: #00aabb;
	border-right: 0;
	margin-top: -5px;
	margin-right: -5px;
}

.speech-bubble-right:after {
	content: '';
	position: absolute;
	left: 0;
	top: 20px;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-right-color: #00aabb;
	border-left: 0;
	margin-top: -5px;
	margin-left: -5px;
}

.speech-bubble-top:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 20px;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	margin-left: -5px;
	margin-bottom: -5px;
}

.speech-bubble-bottom-left:after {
	content: '';
	position: absolute;
	top: 0;
	left: 20px;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-bottom-color: #00aabb;
	border-top: 0;
	margin-left: -5px;
	margin-top: -5px;
}

.speech-bubble-bottom-right:after {
	content: '';
	position: absolute;
	top: 0;
	left: 80%;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-bottom-color: #00aabb;
	border-top: 0;
	margin-left: -5px;
	margin-top: -5px;
}

/* For the legends */
.legendContainer {
	display: grid;
	grid-template-columns: 20px auto;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 30px;
}

.legendSquare {
	border-radius: 3px;
}

.legendName {
	margin-left: 10px;
}

/* For the caption */
.caption {
	position:absolute;
	text-align: center;
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap; 
	width: 100%; 
	font-size: 0.8em;
}
.caption-invisible {
	visibility: hidden;
}

/* For the accordions */
.groupAccordionContainer {	
	font-weight: 500;
}

.groupAccordion {
	border-bottom: 1px solid gray;
	padding: 10px;
	cursor: pointer;
}

.groupAccordion:after {
	content: '\002B';
	
	font-weight: bold;
	float: left;
	margin-right: 10px;
}

.groupAccordion-active:after {	
	content: "\2212";	
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_accordion_animate*/
.accordionItemsContainer {
	max-height: 0; /* This is important; without this, it won't collapse/expand */
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}